.App {
  text-align: center;
  background-color: #d9aa86;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #321f10;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
